///
/// Massively by HTML5 UP
/// html5up.net | @ajlkn
/// Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
/// Romain changed something here
///

/* Header */

	#header {
		@include color-typography(invert);
		@include vendor('align-items', 'center');
		@include vendor('display', 'flex');
		@include vendor('flex-direction', 'column');
		@include vendor('justify-content', 'flex-end');
		@include vendor('pointer-events', 'none');
		@include vendor('user-select', 'none');
		height: 25rem;   /* romain - hauteur dans la page du bloc total */

		padding-bottom: (_size(padding) * 5); /* romain - hauteur dans la page du bloc de titre fab academy hexagone central */
		position: relative;
		text-align: center;
		z-index: 2;

		.logo {
			@include vendor('transition', (
				'border-color #{_duration(transition)} ease-in-out',
				'color #{_duration(transition)} ease-in-out',
				'opacity 0.5s ease',
				'transform 0.5s ease',
				'visibility 0.5s'
			));
			@include vendor('pointer-events', 'auto');
			border-style: solid;
			border-color: _palette(invert, border);
			border-width: 5px !important;
			font-family: _font(family-heading);
			font-size: 2.25rem;
			font-weight: _font(weight-heading);
			letter-spacing: .94em; /* romain - espacement (largeur) des lettres et du contour du bloc de titre fab academy hexagone central */

			line-height: .5;
			padding: 1.7rem 1.75rem; /* romain - espacement (hauteur) des lettres et du contour du bloc de titre fab academy hexagone central */
			text-transform: uppercase;
			visibility: visible;

			&:hover {
				border-color: _palette(invert, accent) !important;
				color: _palette(invert, accent) !important;
			}
		}

		@include breakpoint('<=medium') {
			height: 14rem;
			padding-bottom: (_size(padding) * 2);
		}

		@include breakpoint('<=small') {
			padding-bottom: (_size(padding) * 1.5);

			.logo {
				font-size: 1.75rem;
				border-width: 3px !important;
			}
		}
	}
