///
/// Massively by HTML5 UP
/// html5up.net | @ajlkn
/// Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
/// romain blabla onglet etc
///

/* Nav */

	#nav {
		@include color-list(invert);
		@include color-typography(invert);
		@include vendor('display', 'flex');
		@include vendor('transition', (
			'transform 1s ease',
			'opacity 1s ease'
		));
		background: rgba(255,255,255,0.25); /*romain - couleur fond bar de navigation */
		height: 4rem; /*hauteur fond de bar de nav */
		line-height: 4rem;
		margin: -4rem auto 0 auto;
		overflow: hidden;
		padding: 0 2rem 0 0;
		position: relative;
		width: calc(100% - #{_size(padding) * 2});
		max-width: _size(wrapper);
		z-index: 2;

		ul {
			&.links {
				@include vendor('display', 'flex');
				@include vendor('flex-grow', '1');
				@include vendor('flex-shrink', '1');
				font-family: _font(family-heading);
				font-weight: _font(weight-heading);
				letter-spacing: 0.04em; /* romain - taillede police de l'onglet 1 */
				list-style: none;
				margin-bottom: 0;
				padding-left: 0;
				text-transform: uppercase;

				li {
					display: block;
					padding-left: 10; /* taille du pad vers la gauche */

					a {
						@include vendor('transition', (
							'background-color #{_duration(transition)} ease-in-out',
							'color #{_duration(transition)} ease-in-out'
						));
						display: block;
						font-size: .8rem;
						outline: none;
						padding: 0 1rem; /* largeur onglet */

						&:hover {
							color: inherit !important;
							background-color: transparentize(_palette(invert, fg), 0.9);
						}
					}

					&.active {
						background-color: _palette(invert, fg);

						a {
							color: _palette(invert, bg);

							&:hover {
								color: _palette(invert, accent) !important;
							}
						}
					}
				}
			}

			&.icons {
				@include vendor('flex-grow', '0');
				@include vendor('flex-shrink', '0');
				margin-bottom: 0;
			}
		}

		@include breakpoint('<=medium') {
			display: none;
		}
	}
