<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        {{ partial "head.html" .}}
        <!--{{ template "_internal/google_analytics.html" . }}-->
<!--        {{ template "_internal/google_analytics_async.html" . }}-->
    </head>
    <body>
      <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K349SZ7"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
        {{ partial "nav.html" .}}

		    {{ partial "hero.html" .}}

        {{ partial "intro.html" .}}

        {{ if .Site.Params.work.enable }}
      		{{ partial "work.html" .}}
       	{{ end }}

<!--        {{ if .Site.Params.work2.enable }}
      		{{ partial "work2.html" .}}
       	{{ end }} -->

    {{ if .Site.Params.counters.enable }}
        	{{ partial "counters.html" .}}
        {{ end }}


    {{ if .Site.Params.about.enable }}
          {{ partial "about.html" .}}
    		{{ end }}

		{{ if .Site.Params.services.enable }}
        	{{ partial "services.html" .}}
		    {{ end }}

<!--    {{ if .Site.Params.services.enable }}
      	{{ partial "services.html" .}}
       {{ end }} -->

  	{{ if .Site.Params.contact.enable }}
        	{{ partial "contact.html" .}}
        {{ end }}

<!--    {{ if .Site.Params.testimonials.enable }}
          {{ partial "testimonials.html" .}}
    		{{ end }}-->

<!--     {{ if .Site.Params.footer.enable }}
        	{{ partial "footer.html" .}}
        {{ end }}-->

        {{ partial "js.html" .}}
    </body>
</html>


         <!-- Global site tag (gtag.js) - Google Analytics -->
<!--        <script async src="https://www.googletagmanager.com/gtag/js?id=G-WZGC2TNRW9"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-WZGC2TNRW9');
        </script>-->
