	<section id="fh5co-counters" style="background-image: url(images/{{ .Site.Params.counters.background }});" data-stellar-background-ratio="0.5">
		<div class="fh5co-overlay"></div> <!-- overlay, une fois retiré, le counter devient gris clair-->
		<div class="container">
<!--			<div class="row">
				<div class="col-md-12 section-heading text-center to-animate">
					<h4>{{ .Site.Params.counters.title | markdownify }}</h4> <!-- le h varie la taille du titre de la section counters
				</div>-->
			</div>
			<div class="row">
			{{ range .Site.Params.counters.item }}
				<div class="col-md-2 col-sm-4 col-xs-8"> <!-- largeur occupée par les symbols de stats-->
					<div class="fh5co-counter to-animate">
						<i class="fh5co-counter-icon {{ .icon }} to-animate-2"></i>
						<span class="fh5co-counter-number js-counter" data-from="{{ .from }}" data-to="{{ .to }}" data-speed="{{ .speed }}" data-refresh-interval="{{ .interval }}">{{ .to }}</span>
						<span class="fh5co-counter-label">{{ .description }}</span>
					</div>
				</div>
			{{ end }}
			</div>
<!--		</div>-->
	<!--	{{ if .Site.Params.counters.map }}
        	<div id="map" class="to-animate"></div>
		{{ end }}-->
	</section>
