	<section id="fh5co-home" data-section="home" style="background-image: url(images/full_image_33.png);" data-stellar-background-ratio="0.5">
		<div class="gradient"></div>
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h1 class="to-animate">{{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }}</h1>
							<h2 class="to-animate">{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</h2>
							<h3 class="to-animate btn btn-primary btn-xs btn-link active">{{ with .Site.Params.hero.button }}{{ . | markdownify }}{{ end }}</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slant"></div>
	</section>

<!-- mock up button ci-dessous-->
<!--					   <form>
						 <div class="form-group ">
						 <input class="btn btn-primary btn-lg" value="{{ .Site.Params.hero.button | markdownify }}" type="button">
						 </div>
						 </form></div>-->

						 <!-- Un test pour ajouter le bouton avec un link caché <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">https://form.jotformeu.com/FabAcademy/2021_students_register</a>-->
