	<section id="fh5co-intro">
			<div class="container">
			<div class="row row-bottom-padded-lg">
				{{ range .Site.Params.intro.item }}
				<div class="fh5co-block to-animate" style="background-image: url(images/{{ .img }});">
					<div class="overlay-darker"></div>
					<div class="overlay"></div>
					<div class="fh5co-text">
						<i class="fh5co-intro-icon {{ .icon }}"></i>
						<h2>{{ .title }}</h2>
						<p>{{ .description }}</p>
						{{ if .button}}
						<p><a href="{{ .url }}" class="btn btn-primary">{{ .button}}</a></p>
						{{ end }}
					</div>
				</div>
				{{ end }}
			</div>
			{{ if .Site.Params.intro.video.enable }}
			<div class="row watch-video text-center to-animate">
				<!-- <span>{{ with .Site.Params.intro.video }}{{ . }}{{ end }}</span> -->
				<span>{{.Site.Params.intro.video.title | markdownify }}</span>
        <a href="{{ .Site.Params.intro.video.url }}" class="popup-vimeo btn-video">
        <img src="images/f-a-f-romain-logo-copy.png" alt="g" width="122" align="center">
				</a>
			</div>
			{{ end }}
		</div>
<!--		{{ if .Site.Params.work.map }}
								<div id="map" class="to-animate"></div>
					{{ end }}-->
	</section>
