<section id="fh5co-services" data-section="services">
	<div class="container">
		<div class="row">
			<BR>
			<div class="col-md-12 section-heading text-left">
				 <h2 class=" left-border to-animate">{{ with .Site.Params.services.title }}{{ . | markdownify }}{{ end }}</h2>
					<br>
					<div class="row">
				 <div class="col-md-8 subtext to-animate">
					 <h3>{{ with .Site.Params.services.description }}{{ . | markdownify }}{{ end }}</h3>
				 </div>
			 </div>
		 </div>
	 </div>
				<div class="row">
		{{ range .Site.Params.services.item }}
			<div class="col-md-6 col-sm-6 fh5co-service to-animate">
<!--					<i class="icon to-animate-2 {{ .icon | markdownify }}"></i>-->
				<h3>{{ .title | markdownify }}</h3>
				<h3>{{ .title2 | markdownify }}</h3>
<!--					<h3>{{ .title2 | markdownify }}</h3>-->
				<p>{{ .description | markdownify }}</p>
<!--					<p>{{ .description2 | markdownify }}</p>
				<p>{{ .description3 | markdownify }}</p>
				<p>{{ .description4 | markdownify }}</p>
				<p>{{ .description5 | markdownify }}</p>
				<p>{{ .description6 | markdownify }}</p>
				<p>{{ .description7 | markdownify }}</p>
				<p>{{ .description8 | markdownify }}</p>
				<p>{{ .description9 | markdownify }}</p>
				<p>{{ .description10 | markdownify }}</p>
				<p>{{ .description11 | markdownify }}</p>
				<p>{{ .description12 | markdownify }}</p>
				<p>{{ .description13 | markdownify }}</p>
				<p>{{ .description14 | markdownify }}</p>
				<p>{{ .description15 | markdownify }}</p>
				<p>{{ .description16 | markdownify }}</p>
				<p>{{ .description17 | markdownify }}</p>
				<p>{{ .description18 | markdownify }}</p>
				<p>{{ .description19 | markdownify }}</p>-->
				</div>
			 <div class="clearfix visible-sm-block"></div>
			{{ end }}
		</div>
	</div>
</section>


<!-- 							<h3>{{ with .Site.Params.services.description }}{{ . | markdownify }}{{ end }}</h3>
						<h3>{{ with .Site.Params.services.description3 }}{{ . | markdownify }}{{ end }}</h3>
						<h4>{{ with .Site.Params.services.description4 }}{{ . | markdownify }}{{ end }}</h4>
						<h4>{{ with .Site.Params.services.description5 }}{{ . | markdownify }}{{ end }}</h4>
						<h4>{{ with .Site.Params.services.description6 }}{{ . | markdownify }}{{ end }}</h4>
						<h4>{{ with .Site.Params.services.description7 }}{{ . | markdownify }}{{ end }}</h4>
						<h4>{{ with .Site.Params.services.description8 }}{{ . | markdownify }}{{ end }}</h4>
						<h4>{{ with .Site.Params.services.description9 }}{{ . | markdownify }}{{ end }}</h4>
													<h4>{{ with .Site.Params.services.description10 }}{{ . | markdownify }}{{ end }}</h4>
													<h4>{{ with .Site.Params.services.description11 }}{{ . | markdownify }}{{ end }}</h4>
													<h4>{{ with .Site.Params.services.description12 }}{{ . | markdownify }}{{ end }}</h4>
													<h4>{{ with .Site.Params.services.description13 }}{{ . | markdownify }}{{ end }}</h4>
													<h4>{{ with .Site.Params.services.description14 }}{{ . | markdownify }}{{ end }}</h4>
													<h4>{{ with .Site.Params.services.description15 }}{{ . | markdownify }}{{ end }}</h4>
													<h4>{{ with .Site.Params.services.description16 }}{{ . | markdownify }}{{ end }}</h4>-->
