<section id="fh5co-work" data-section="work">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-center">
				<h3 class="to-animate">{{ with .Site.Params.work.title }}{{ . }}{{ end }}</h3>
					<div class="row">
						<div class="col-xxl-34 col-md-12 col-xxl-64 subtext to-animate">
<!--							<h4>{{ with .Site.Params.work.description0 }}{{ . | markdownify }}{{ end }}</h4>-->
							<h4>{{ with .Site.Params.work.description }}{{ . | markdownify }}{{ end }}</h4>
			<div class="row row-bottom-padded-sm">
			{{ range .Site.Params.work.row }}
				<div class="col-md-4 col-sm-6 col-xxs-12">
	<!--				<a href="images/{{ .img }}" class="fh5co-project-item image-popup to-animate">
						<img src="images/{{ .img }}" alt="{{ .alt }}" class="img-responsive"> -->
						<div class="fh5co-text">
						<h3>{{ .title }}</h3>
						<span>{{ .subtitle }}</span>
						</div>
					</a>
				</div>
				<div class="clearfix visible-sm-block"></div>
			{{ end }}
	<!--		</div>
			<div class="row">
				<div class="col-md-18 text-center to-animate">
					<p>{{ .Site.Params.work.footertext | markdownify }}</p>
				</div>
			</div>
		</div>-->
	</section>


	<!--							<h4>{{ with .Site.Params.work.description2 }}{{ . | markdownify }}{{ end }}</h4>
								<h4>{{ with .Site.Params.work.description3 }}{{ . | markdownify }}{{ end }}</h4>
								<h4>{{ with .Site.Params.work.description4 }}{{ . | markdownify }}{{ end }}</h4>
								<h4>{{ with .Site.Params.work.description5 }}{{ . | markdownify }}{{ end }}</h4>
								<h4>{{ with .Site.Params.work.description6 }}{{ . | markdownify }}{{ end }}</h4>
								<h4>{{ with .Site.Params.work.description7 }}{{ . | markdownify }}{{ end }}</h4>
								<h4>{{ with .Site.Params.work.description8 }}{{ . | markdownify }}{{ end }}</h4>
								<h4>{{ with .Site.Params.work.description9 }}{{ . | markdownify }}{{ end }}</h4>
								<h4>{{ with .Site.Params.work.description10 }}{{ . | markdownify }}{{ end }}</h4>
								<h4>{{ with .Site.Params.work.description11 }}{{ . | markdownify }}{{ end }}</h4>
								<h4>{{ with .Site.Params.work.description12 }}{{ . | markdownify }}{{ end }}</h4>
								<h4>{{ with .Site.Params.work.description13 }}{{ . | markdownify }}{{ end }}</h4>
								<h4>{{ with .Site.Params.work.description14 }}{{ . | markdownify }}{{ end }}</h4>
								<h4>{{ with .Site.Params.work.description15 }}{{ . | markdownify }}{{ end }}</h4>
								<h4>{{ with .Site.Params.work.description16 }}{{ . | markdownify }}{{ end }}</h4>-->
	<!--							<div class="col-md-12 section-heading text-left">
									<br>
									<br>
						  		<h2 class="to-animate">{{ with .Site.Params.work.title2 }}{{ . }}{{ end }}</h2>
									<h4>{{ with .Site.Params.work.description17 }}{{ . | markdownify }}{{ end }}</h4>
									<h4>{{ with .Site.Params.work.description18 }}{{ . | markdownify }}{{ end }}</h4>
									<h4>{{ with .Site.Params.work.description19 }}{{ . | markdownify }}{{ end }}</h4>
							 <div class="row">
						 </div>
						</div>
					</div>
				</div>-->
